<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:replace="~{LayoutAdmin :: admin-css}"></th:block>
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
  <title>Shop Pro</title>
</head>
<body>
<th:block th:replace="LayoutAdmin :: header"></th:block>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Admin</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a >Home</a></li>
        <li class="breadcrumb-item">Products</li>
        <li class="breadcrumb-item active">Add</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">

    <div class="container">
  <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">

        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>
    <p th:each="error : ${errors}" th:text="${error}" class="text-danger text-center"></p>
    <div class="col-6 mb-3">
      <label class="form-label" for="title">Title:</label><span class="text-danger">*</span>
      <input class="form-control" type="text" placeholder="Enter title" th:field="*{title}" id="title" required autofocus >
      <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="author">Author:</label>
      <input class="form-control" type="text" th:field="*{author}" id="author" placeholder="Enter author">
      <span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="price">Price:</label><span class="text-danger">*</span>
      <input class="form-control" required type="text" th:field="*{price}" id="price" placeholder="Enter price">
      <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="quantity">Quantity:</label><span class="text-danger">*</span>
      <input class="form-control" required type="number" th:field="*{quantity}" id="quantity" placeholder="Enter quantity">
      <span class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="description">Description:</label>
      <textarea class="form-control" th:field="*{description}" id="description" placeholder="Enter description"></textarea>
      <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>
    <div class="col-6 mb-3">
      <label for="isSale">On Sale:</label>
      <span><input  type="checkbox" th:field="*{isSale}" id="isSale" /></span>
<!--      <span class="text-danger" th:if="${#fields.hasErrors('isSale')}" th:errors="*{isSale}"></span>-->
    </div>
    <div class="col-6 mb-3" style="display: none">
      <label class="form-label" for="salePercent">Sale Percent:</label>
      <input class="form-control" type="text" th:field="*{salePercent}" id="salePercent" placeholder="Enter salePercent">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="category">Category:</label><span class="text-danger">*</span>
      <select class="form-control" id="category" name="category.id">
        <option value="">-- Select Category --</option>
        <option th:each="category : ${categories}" th:value="${category.getId()}"
                th:text="${category.getName()}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    </div>
    <div class="group">
      <label class="form-label" for="images" >Chọn Ảnh:(Phải có ít nhất 1 ảnh mới mở submit) </label>
      <input type="file" id="images" name="imgList" multiple accept="image/*" />
    </div>
<!--    preview-->
    <div class="col-6 mb-3">
      <div id="preview">

      </div>
    </div>
    <input id="btnSubmit" type="submit" class="btn btn-primary" value="Save" disabled />
  </form>
  <br>
  <a th:href="@{/products}">Back to List</a>
</div>
  </section>

</main><!-- End #main -->
<th:block th:replace="LayoutAdmin :: scripts"></th:block>
<script>
  $(document).ready(function () {
    $('#salePercent').val(0);
    $('#isSale').change(function () {
      if ($(this).is(':checked')) {
        $('#salePercent').parent().show();
      } else {
        $('#salePercent').parent().hide();
      }
    });
  });
</script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
<script>
  var editor = new FroalaEditor('#description');
</script>
<script>
  $(document).ready(function () {
    $('#images').change(function () {
      if ($(this).val() != '') {
        $('#btnSubmit').attr('disabled', false);
        var files = $(this)[0].files;
        var html = '';
        $.each(files, function (i, file) {
          var reader = new FileReader();
          reader.onload = function (e) {
            html += '<img src="' + e.target.result + '" width="100px" height="100px" />';
            $('#preview').html(html);
          }
          reader.readAsDataURL(file);
        });

      } else {
        $('#btnSubmit').attr('disabled', true);
      }
    });
  });
</script>

</body>
</html>