<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" th:href="@{/assets/css/chat.css}"/>
  <th:block th:replace="~{layout::assets-css}"></th:block>
</head>
<body style="background: #f6f7fc;">
<th:block th:replace="~{layout::header}"></th:block>
<th:block th:replace="~{layout::mobile-form}"></th:block>
<noscript>
  <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div class="container py-5 h-100">
  <h1 class="mb-5 text-center">Chat App</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-8 col-md-8">
      <div class="card shadow" style="border-radius: 1rem;">
        <div class="card-body p-5 ">
<div id="username-page">
  <div class="username-page-container">
    <h1 class="title">Type your username to enter the Chatroom</h1>
    <form id="usernameForm" name="usernameForm">
      <div class="form-group">
        <input type="text" id="name" placeholder="Username" autocomplete="off" th:value="${#authentication.name}" class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>

<div id="chat-page" class="hidden">
  <div class="chat-container">
    <div class="chat-header">
    </div>
    <div class="connecting">
      Connecting...
    </div>
    <ul id="messageArea">

    </ul>
    <form id="messageForm" name="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
          <button type="submit" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
<th:block th:replace="~{layout::action-after-footer}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/chat.js}"></script>
<th:block th:replace="~{layout::script}"></th:block>

</body>
</html>
