<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Check Out</title>
    <th:block th:replace="~{LayoutAdmin :: admin-css}"></th:block>
    <style>
        .table td {
            text-align: center;
            vertical-align: middle;
        }
        .table th {
            text-align: center;
            vertical-align: middle;
        }
        .table {
            margin-top: 20px;
        }


    </style>
</head>
<body>
<th:block th:replace="LayoutAdmin :: header"></th:block>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a >Home</a></li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
<div class="container" >
    <h2 th:text=" 'Invoices Detail Of ' + ${user.toUpperCase()}">  </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">InvoiceId</th>
            <th scope="col">Cover</th>
            <th scope="col">Book Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="itemInvoice, stt: ${itemInvoices}">
<!--            <td th:text="${itemInvoice.getBook().getId()}"></td>-->
<!--            stt -->
            <td th:text="${stt.count}"></td>
            <td th:text="${itemInvoice.getInvoice().getId()}"></td>
            <td>
                <img th:src="@{${itemInvoice.getCover()}}"
                     style="width: 100px; height: 100px">
            </td>
            <td th:text="${itemInvoice.getProduct().getTitle()}"></td>
            <td>
                <label>
                    <input disabled type="number" min="1"
                           th:value="${itemInvoice.getQuantity()}"
                           th:attr="data-id=${itemInvoice.getProduct().getId()}"
                           class="form-control quantity">
                </label>
            </td>
            <td th:text="${itemInvoice.getProduct().getPrice()}"></td>
            <td th:text="${itemInvoice.getInvoice().getPrice()}"></td>
        </tr>
        </tbody>
    </table>
</div>
    </section>

</main><!-- End #main -->

<th:block th:replace="LayoutAdmin :: scripts"></th:block>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>