<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Pro</title>
  <th:block th:replace="~{LayoutAdmin :: admin-css}"></th:block>
  <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
  <style>
    .table td {
      text-align: center;
      vertical-align: middle;
    }
    .table th {
      text-align: center;
      vertical-align: middle;
    }
    .table {
      margin-top: 20px;
    }


  </style>
</head>
<body>
<th:block th:replace="LayoutAdmin :: header"></th:block>

<!-- Modal -->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Admin</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a >Home</a></li>
        <li class="breadcrumb-item active">Users</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">

    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-light">
        </nav>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
          <thead>
          <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Provider</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">User</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
<th:block th:replace="LayoutAdmin :: scripts"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script>-->
<!--&lt;!&ndash;  load page and get users&ndash;&gt;-->
<!--    loadUserList();-->
<!--    function editUser(id) {-->
<!--        $.ajax({-->
<!--            type: 'GET',-->
<!--            url: 'http://localhost:8080/api/v2/users/' + id,-->

<!--            dataType: 'json',-->

<!--            success: function(response) {-->
<!--            $('#editId').val(response.id);-->
<!--            $('#userName').val(response.userName);-->
<!--            $('#email').val(response.email);-->
<!--            $('#phone').val(response.phone);-->
<!--            $('#exampleModalCenter').modal('show');-->
<!--              document.getElementById("save-user-modal").setAttribute("onclick", "userEdit()");-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--    function userEdit() {-->
<!--        let id = $('#editId').val();-->
<!--        let userName = $('#userName').val();-->
<!--        let email = $('#email').val();-->
<!--        let phone = $('#phone').val();-->
<!--        let user = {-->
<!--            id: id,-->
<!--            userName: userName,-->
<!--            email: email,-->
<!--            phone: phone-->
<!--        };-->
<!--        $.ajax({-->
<!--            type: 'PUT',-->
<!--            url: 'http://localhost:8080/api/v2/users/' + id,-->
<!--            contentType: 'application/json',-->
<!--            data: JSON.stringify(user),-->
<!--            dataType: 'json',-->
<!--            success: function(response) {-->
<!--                $('#exampleModalCenter').modal('hide');-->
<!--                toastr.success('Edit user api success!');-->
<!--                loadUserList();-->
<!--            },-->
<!--            error: function (response) {-->
<!--                toastr.error('Edit user api error!');-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--    function loadUserList(){-->
<!--      $(document).ready(function () {-->
<!--        $.ajax({-->
<!--          type: 'GET',-->
<!--          url: 'http://localhost:8080/api/v2/users',-->

<!--          dataType: 'json',-->

<!--          success: function(response) {-->
<!--            let html = '';-->
<!--            response.forEach(function (user) {-->
<!--              html += '<tr>';-->
<!--              html += '<td>' + user.userName + '</td>';-->
<!--              html += '<td>' + user.email + '</td>';-->
<!--              html += '<td>' + user.phone + '</td>';-->
<!--              html += '<td>' + user.roleName + '</td>';-->
<!--              if (user.roleName === 'ADMIN') {-->
<!--                html += '<td><button class="btn btn-danger" disabled>Edit</button></td>';-->
<!--              } else {-->
<!--                html += '<td><button class="btn btn-danger" onclick="editUser(' + user.id + ')">Edit</button></td>';-->
<!--              }-->
<!--              html += '</tr>';-->
<!--            });-->
<!--            $('#user-table-body').html(html);-->
<!--          }-->
<!--        });-->

<!--      });-->
<!--    }-->
<!--  $('#exampleModalCenter').on('hidden.bs.modal', function () {-->
<!--    document.getElementById("add-category").style.display = "none";-->
<!--    document.getElementById("edit-category").style.display = "none";-->
<!--  });-->
<!--</script>-->
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
<script src="/js/userDT.js"></script>
</body>
</html>